<!DOCTYPE html>
<html ng-app ='ngAndroidNext99' ng-cloak>
    <head>
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-TQ4QXNT');</script>
        <!-- End Google Tag Manager -->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Next 99</title> <!-- Android Feature Partner Adoption Status Dashboard - Next99-->

        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <link type="text/css" href="css/main.css" rel="stylesheet">

        <link type="text/css" href="css/material-dashboard.css" rel="stylesheet">
        <link type="text/css" href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
        <link type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
    </head>

    <body layout="column" ng-controller="ngMainCtrl" ng-init="init()">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQ4QXNT"
                          height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <md-toolbar layout="row">
            <div class="md-toolbar-tools" >
                <md-button class="md-icon-button" ng-click="toggleSidenav('left')" hide-gt-md>
                    <md-icon aria-label="Menu" md-svg-icon="assets/img/menu.svg"></md-icon>
                </md-button>
                <img src="assets/img/logo_play_apps_color_1x_web_48dp.png" alt="Android Partner team" style="margin-left: 12px" hide-md>
                <h1 style="font-size:x-large; margin-left: 30px">{{appTitle}}<!--Android Feature Partner Adoption Status Dashboard - Next99 --></h1>
            </div>
        </md-toolbar>

        <div layout="row" flex>

            <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" layout-align="begin center">
                <md-list>
                    <md-list-item md-ink-ripple>
                        <md-item-content >
                            <!-- <md-button class="md-icon-button" ng-click="pageNavigate(0);"> -->
                            <md-button class="md-icon-button" ng-click="null">
                                <md-icon class="menu-icon" aria-label="Menu"  md-svg-icon="assets/img/ic_home_grey600_48dp.svg">
                                    <md-tooltip md-direction="right" style="font-size: 14px">Home</md-tooltip>
                                </md-icon>
                            </md-button>
                        </md-item-content>
                    </md-list-item>

                    <md-list-item md-ink-ripple>
                        <md-item-content >
                            <md-button class="md-icon-button" ng-click="pageNavigate(1);">
                                <md-icon class="menu-icon" aria-label="Menu"  md-svg-icon="assets/img/ic_assignment_turned_in_grey600_48dp.svg">
                                    <md-tooltip md-direction="right" style="font-size: 14px">Feature Adoption Status</md-tooltip>
                                </md-icon>
                            </md-button>
                        </md-item-content>
                    </md-list-item>

                    <md-list-item md-ink-ripple>
                        <md-item-content >
                            <md-button class="md-icon-button" ng-click="pageNavigate(2);">
                                <md-icon class="menu-icon" aria-label="Menu"  md-svg-icon="assets/img/ic_assessment_grey600_48dp.svg">

                                    <md-tooltip md-direction="right" style="font-size: 14px">OEM Key Topics</md-tooltip>
                                </md-icon>
                            </md-button>
                        </md-item-content>
                    </md-list-item>


                    <md-list-item md-ink-ripple>
                        <md-item-content >
                            <!-- <md-button class="md-icon-button" ng-click="pageNavigate(3);">  -->
                            <md-button class="md-icon-button" ng-click="null">
                                <md-icon class="menu-icon" aria-label="Menu"  md-svg-icon="assets/img/ic_question_answer_grey600_48dp.svg">
                                    <md-tooltip md-direction="right" style="font-size: 14px">Mandantory Feature Progress</md-tooltip>
                                </md-icon>
                            </md-button>
                        </md-item-content>
                    </md-list-item>

                    <md-list-item md-ink-ripple>
                        <md-item-content >
                            <!-- <md-button class="md-icon-button" ng-click="pageNavigate(4);">  -->
                            <md-button class="md-icon-button" ng-click="null">
                                <md-icon class="menu-icon" aria-label="Menu"  md-svg-icon="assets/img/ic_settings_grey600_48dp.svg">
                                    <md-tooltip md-direction="right" style="font-size: 14px">Admin</md-tooltip>
                                </md-icon>
                            </md-button>
                        </md-item-content>
                    </md-list-item>
                </md-list>
            </md-sidenav>

            <div layout="column" flex id="content">
                <md-content layout="column" flex >
                    <div ng-if="currentPage == 'home'" style="height: 99%;">
                        <div ng-include="'view/Home/home.html'" ng-controller="ngHomeCtrl" layout-fill></div>
                    </div>

                    <div ng-if="currentPage == 'featureAdoption'" style="height: 99%;">
                        <div ng-include="'view/FeatureAdoption/index_feat_adopt.html'" ng-controller="ngMainFeatAdoptCtrl" layout-fill></div>
                    </div>

                    <div ng-if="currentPage == 'oemKeyTopics'" style="height: 99%;">
                        <div ng-include="'view/OemKeyTopics/oem_key_topics.html'" ng-controller="ngOemKeyTopicsCtrl" layout-fill></div>
                    </div>

                    <div ng-if="currentPage == 'manAdoption'" style="height: 99%;">
                        <div ng-include="'view/ManFeatureAdoption/index_mandatory_feat_adopt.html'" ng-controller="ngMainManFeatAdoptCtrl" layout-fill></div>
                    </div>

                    <div ng-if="currentPage == 'admin'" style="height: 99%;">
                        <div ng-include="'view/Admin/Admin.html'" ng-controller="ngMainAdminCtrl" layout-fill></div>
                    </div>
                </md-content>
            </div>
        </div>

        <!-- It is from Google Hosted Libraries https://developers.google.com/speed/libraries/ -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.min.js"></script>

        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>

        <script src="bower_components/angular-smart-table/dist/smart-table.js"></script>


        <!--Aplos -->
        <script src="https://data.corp.google.com/aplos/versions/aplos-v1_3.js"></script>
        <script src='https://login.corp.google.com/javascript_api.js'></script>

        <!--Google API -->
        <script src="https://apis.google.com/js/client.js"></script>

        <!-- Application Service  -->
        <script type="text/javascript" src="js/app.js"></script>
        <script type="text/javascript" src="js/service/apiService.js"></script>
        <script type="text/javascript" src="js/service/constVariables.js"></script>
        <script type="text/javascript" src="js/service/constResource.js"></script>
        <script type="text/javascript" src="js/service/dataService.js"></script>

        <!--Application Main Controller -->
        <script type="text/javascript" src="js/controller/MainCtrl.js"></script>
        <script type="text/javascript" src="js/controller/Home/HomeCtrl.js"></script>
        <script type="text/javascript" src="js/controller/OemKeyTopics/OemKeyTopicsCtrl.js"></script>
        <script type="text/javascript" src="js/controller/OemKeyTopics/OemKeyTopicsDremelCtrl.js"></script>

        <script type="text/javascript" src="js/controller/FeatureAdoption/MainFeatAdoptCtrl.js"></script>
        <script type="text/javascript" src="js/controller/FeatureAdoption/NFeatureCtrl.js"></script>
        <script type="text/javascript" src="js/controller/FeatureAdoption/OFeatureCtrl.js"></script>
        <script type="text/javascript" src="js/controller/FeatureAdoption/NFeatureDremelCtrl.js"></script>
        <script type="text/javascript" src="js/controller/FeatureAdoption/OFeatureDremelCtrl.js"></script>

        <script type="text/javascript" src="js/controller/ManFeatureAdoption/MainManFeatAdoptCtrl.js"></script>
        <script type="text/javascript" src="js/controller/Admin/MainAdminCtrl.js"></script>
    </body>
</html>