<div style="height: inherit">
    <md-card layout-padding>
        <md-card-content>
            <h4>Mandatory Feature Progress</h4>
            <p>Mandatory Feature Progress features will be provides such as filing up survey bugs and modify/move the bugs to the different buganizer component.</p>
        </md-card-content>
    </md-card>

    <md-card layout-padding style="height: 90%;">
        <md-card-content style="height: 100%">
            <p>To be continued...</p>
        </md-card-content>
    </md-card>
</div>