
<style>
    .ape {
        margin-left: 15px;
        margin-top: 60px;
        font-family: 'Droid Sans';
    }
</style>

<div layout="row">
    <div class="card ape">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">Samsung</h4>
            <!-- <p class="category"><a href="mailto:mincheoulkim@google.com" style="text-decoration: none;" target="_blank">Jiyoung Lee</a></p>  -->
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead >
                <th style="font-weight: bold">Topic</th>
                <th style="font-weight: bold">Status</th>
                </thead>
                <tbody >
                    <tr style="margin-left: 10px">
                        <td> Device - Note8 launch readiness in Q2 following FlagFood launch process (First build submission is End of May)</td>
                        <td class="text-info">New</td>
                    </tr>
                    <tr>
                        <td>Device - Start GS8 O dogfood in Q2. DP discussion is ongoing</td>
                        <td class="text-info">New</td>
                    </tr>
                    <tr>
                        <td>GMS - Launch Hotword on GS8 MR and ready for Note8 in Q2</td>
                        <td class="text-info">New</td>
                    </tr>
                    <tr>
                        <td>Security Update - No miss of monthly security update of flagship devices</td>
                        <td class="text-info">New</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card ape">
        <div class="card-header" data-background-color="blue">
            <h4 class="title">LGE</h4>
            <!-- <p class="category"><a href="mailto:mincheoulkim@google.com" style="text-decoration: none;" target="_blank">Jey Lee</a></p>  -->
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead >
                <th style="font-weight: bold">Topic</th>
                <th style="font-weight: bold">Status</th>
                </thead>
                <tbody >
                    <tr style="margin-left: 10px">
                        <td>Device - G6 O dogfood in Q2</td>
                        <td class="text-info">New</td>
                    </tr>
                    <tr>
                        <td>Device - V30 launch in Q2 following FlagFood launch process</td>
                        <td class="text-info">New</td>
                    </tr>
                    <tr>
                        <td>GMS - V30 launch with Google Assitant KR launch and Actions, 1st device w/Assistant in KR</td>
                        <td class="text-info">New</td>
                    </tr>
                    <tr>
                        <td>Security updates - Clean up target devices and finalize RSA/MADA</td>
                        <td class="text-info">New</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="card ape">
        <div class="card-header" data-background-color="green">
            <h4 class="title">Motorola</h4>
            <!-- <p class="category"><a href="mailto:mincheoulkim@google.com" style="text-decoration: none;" target="_blank">Alex Medina</a></p>  -->
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead >
                <th style="font-weight: bold">Topic</th>
                <th style="font-weight: bold">Status</th>
                </thead>
                <tbody >
                    <tr style="margin-left: 10px">
                        <td>Device - New line Moto C, Moto C Plus and Moto E (4th gen)</td>
                        <td class="text-info">New</td>
                    </tr>
                    <tr>
                        <td>Device - Launching in Q3: Moto Z2, Moto X (4th gen)</td>
                        <td class="text-info">New</td>
                    </tr>
                    <tr>
                        <td>Android Feature adoption for 2017 Flagships: File-Based Encryption, A/B Updates, Optimized Assistant Experience, Play Auto Installs</td>
                        <td class="text-info">New</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

