
<style>
    .ape {
        margin-left: 15px;
        margin-top: 60px;
        font-family: 'Droid Sans';
    }

    .card-nav-tabs {
        margin-left: 15px;
        margin-top: 60px;
        font-family: 'Droid Sans';
    }

    th {
        font-weight: bold;
    }

    .cardholder {
        margin-right: 8px;
    }

</style>

<div class="cardholder" layout="row">
    <!--
    <div class="card card-nav-tabs">
        <div class="card-header" data-background-color="purple">
            <div class="nav-tabs-navigation">
                <div class="nav-tabs-wrapper">
                    <h4 class="title">Samsung</h4>
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="pull-right">
                            <a href="#others" data-toggle="tab">
                                <md-icon md-svg-src="assets/icon/ic_code_white_48px.svg"></md-icon>
                                Others
                            </a>
                        </li>
                        <li class="pull-right">
                            <a href="#featurerequest" data-toggle="tab">
                                <md-icon md-svg-src="assets/icon/ic_add_box_white_48px.svg"></md-icon>
                                Feature Req
                            </a>
                        </li>
                        <li class="pull-right">
                            <a href="#bug" data-toggle="tab">
                                <md-icon md-svg-src="assets/icon/ic_bug_report_white_48px.svg"></md-icon>
                                Bug
                            </a>
                        </li>
                        <li class="active pull-right">
                            <a href="#all" data-toggle="tab">
                                <md-icon md-svg-src="assets/icon/ic_select_all_white_48px.svg"></md-icon>
                                All
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="card-content">
            <div class="tab-content">
                <div class="tab-pane fade" id="bug">
                    Bug
                </div>
                <div class="tab-pane fade" id="featurerequest">
                    Feature Request
                </div>
                <div class="tab-pane fade" id="others">
                    Others
                </div>
                <div class="tab-pane fade  in active" id="all">
                    All
                </div>
            </div>
        </div>
    </div>
-->
    <div class="card ape">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">Samsung</h4>
            <!-- <p class="category">Here is a subtitle for this table</p>  -->
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead>
                    <th style="width: 7%">ID</th>
                    <th style="width: 7%">Status</th>
                    <th style="width: 5%">Type</th>
                    <th>Topic</th>
                </thead>
                <tbody ng-repeat="topic in topiclistSamsung">
                    <tr style="margin-left: 10px">
                        <td>{{topic.bugId}}</td>
                        <td class="{{topic.color}}">{{topic.status}}</td>
                        <td>
                                <span ng-if="topic.type == 'BUG'">
                                    <md-icon md-svg-src="assets/icon/ic_bug_report_black_48px.svg" aria-label="bug" style="color: red"></md-icon>
                                </span>
                            <span ng-if="topic.type == 'FEATURE-REQUEST'">
                                    <md-icon md-svg-src="assets/icon/ic_add_box_black_48px.svg" aria-label="bug" style="fill: red"></md-icon>
                                </span>
                            <span ng-if="topic.type == 'OTHERS'">
                                    <md-icon md-svg-src="assets/icon/ic_code_black_48px.svg" aria-label="bug" style="color: red"></md-icon>
                                </span>
                        </td>

                        <td ng-click="onClicked(topic)">
                            <div ng-show="!topic.isClicked">{{topic.title}}</div>
                            <div ng-show="topic.isClicked"><div style="font-weight: bold">{{topic.title}}</div><br>{{topic.summary}}</div>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--
    <div class="card ape">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">Samsung</h4>
            <p class="category">Here is a subtitle for this table</p>
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead>
                <th style="font-weight: bold">Type</th>
                <th style="font-weight: bold">Topic</th>
                <th style="font-weight: bold">Status</th>
                </thead>
                <tbody ng-repeat="topic in topiclistSamsung">
                <tr style="margin-left: 10px">
                    <td>
                            <span ng-if="topic.type == 'BUG'">
                                <md-icon md-svg-src="assets/icon/ic_bug_report_black_48px.svg" aria-label="bug" style="color: red"></md-icon>
                            </span>
                        <span ng-if="topic.type == 'FEATURE-REQUEST'">
                                <md-icon md-svg-src="assets/icon/ic_add_box_black_48px.svg" aria-label="bug" style="fill: red"></md-icon>
                            </span>
                        <span ng-if="topic.type == 'OTHERS'">
                                <md-icon md-svg-src="assets/icon/ic_code_black_48px.svg" aria-label="bug" style="color: red"></md-icon>
                            </span>
                    </td>

                    <td ng-click="onClicked(topic)">
                        <div ng-show="!topic.isClicked">{{topic.title}}</div>
                        <div ng-show="topic.isClicked"><div style="font-weight: bold">{{topic.title}}</div><br>{{topic.summary}}</div>
                    </td>
                    <td class="{{topic.color}}">{{topic.status}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
-->

<!--
    <div class="card ape">
        <div class="card-header" data-background-color="purple">
            <h4 class="title">Samsung</h4>
            <p class="category">Here is a subtitle for this table</p>
        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead>
                <th style="font-weight: bold">Type</th>
                <th style="font-weight: bold">Topic</th>
                <th style="font-weight: bold">Status</th>
                </thead>
                <tbody ng-repeat="topic in topiclistSamsung">
                    <tr style="margin-left: 10px">
                        <td>
                            <span ng-if="topic.type == 'BUG'">
                                <md-icon md-svg-src="assets/icon/ic_bug_report_black_48px.svg" aria-label="bug" style="color: red"></md-icon>
                            </span>
                            <span ng-if="topic.type == 'FEATURE-REQUEST'">
                                <md-icon md-svg-src="assets/icon/ic_add_box_black_48px.svg" aria-label="bug" style="fill: red"></md-icon>
                            </span>
                            <span ng-if="topic.type == 'OTHERS'">
                                <md-icon md-svg-src="assets/icon/ic_code_black_48px.svg" aria-label="bug" style="color: red"></md-icon>
                            </span>
                        </td>

                        <td ng-click="onClicked(topic)">
                            <div ng-show="!topic.isClicked">{{topic.title}}</div>
                            <div ng-show="topic.isClicked"><div style="font-weight: bold">{{topic.title}}</div><br>{{topic.summary}}</div>
                        </td>
                        <td class="{{topic.color}}">{{topic.status}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
-->
</div>
