
<!-- For API function call  based UI -->
<!--
<div class="cardholder" layout="row" >
  <div class="card ape">
    <div class="card-header" data-background-color="purple">
      <h4 class="title">Android Feature Adoption Tracker</h4>
      <p class="category">Partner & Device data comes from 'Flagship and Fast Follower Schedule, and feature adoption status is based on OEM TAM response.</p>
    </div>
    <div class="card-content">
      <div style="height: 1150px">
        <md-tabs md-selected="0" layout-fill>
          <md-tab label="Nougat" md-on-select="switchTab(0)">
            <div ng-if="currentPage == 'nFeatureAdoption'">
              <div ng-include="'view/FeatureAdoption/N.html'" ng-controller="ngNfeatureCtrl"></div>
              <hr>
            </div>
          </md-tab>

          <md-tab label="Oreo" md-on-select="switchTab(1)" layout-fill>
            <div ng-if="currentPage == 'oFeatureAdoption'">
              <div ng-include="'view/FeatureAdoption/O.html'" ng-controller="ngOfeatureCtrl"></div>
              <hr>
            </div>
          </md-tab>

          <md-tab label="Pie" md-on-select="switchTab(2)" layout-fill>
            <div ng-if="currentPage == 'pFeatureAdoption'">
              <div ng-include="'view/FeatureAdoption/P.html'" ng-controller="ngPfeatureCtrl"></div>
              <hr>
            </div>
          </md-tab>
        </md-tabs>
    </div>
    </div>
  </div>
</div>
-->
<!-- For Dremel query based UI -->
<div class="cardholder" layout="row" >
  <div class="card ape">

    <div class="card-header" data-background-color="purple">
          <h4 class="title" >Android Feature Adoption Tracker</h4>
          <p class="category">All these feature adoption plan/status are based on dedicated TAMs' response from their assigned Android partners. Without SSO credential, nothing will be displayed here due to security reason. In such case, please open new tab and navigate to <a href="https://b.corp.google.com" target="_blank">Buganizer</a> and come back/refresh this page. </a></p>
          <p>{{userEmail}}  {{userImage}}  {{userEmail}}</p>
    </div>


    <div class="card-content">
      <div style="height: 1150px">
        <md-tabs md-selected="2" layout-fill>
          <md-tab label="Nougat" md-on-select="switchTab(0)">
            <div ng-if="currentPage == 'nFeatureAdoption'">
              <div ng-include="'view/FeatureAdoption/N.html'" ng-controller="ngNfeatureTrixCtrl"></div>
              <!-- <div ng-include="'view/FeatureAdoption/N.html'" ng-controller="ngNfeatureCtrl"></div>  -->
              <!-- <div ng-include="'view/FeatureAdoption/N.html'" ng-controller="ngNfeatureDremelCtrl"></div> -->
              <hr>
            </div>
          </md-tab>

          <md-tab label="Oreo" md-on-select="switchTab(1)" layout-fill>
            <div ng-if="currentPage == 'oFeatureAdoption'">
              <div ng-include="'view/FeatureAdoption/O.html'" ng-controller="ngOfeatureTrixCtrl"></div>
              <!-- <div ng-include="'view/FeatureAdoption/O.html'" ng-controller="ngOfeatureCtrl"></div>  -->
              <!-- <div ng-include="'view/FeatureAdoption/O.html'" ng-controller="ngOfeatureDremelCtrl"></div>  -->
              <hr>
            </div>
          </md-tab>

          <md-tab label="Pie" md-on-select="switchTab(2)" layout-fill>
            <div ng-if="currentPage == 'pFeatureAdoption'">
              <!-- <div ng-include="'view/FeatureAdoption/P.html'" ng-controller="ngPfeatureDremelCtrl"></div> -->
              <!-- <div ng-include="'view/FeatureAdoption/P.html'" ng-controller="ngPfeatureCtrl"></div>  -->
              <div ng-include="'view/FeatureAdoption/P.html'" ng-controller="ngPfeatureTrixCtrl"></div>
              <hr>
            </div>
          </md-tab>
        </md-tabs>
      </div>
    </div>
  </div>
</div>

